
//-----------------------------MOBILE TEMPLATE---------------------------------

//----------body----------

body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

//----------navbar----------

.navbar-wrapper, .banner {
  display: none;
}

.navbar-wrapper-mobile {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 50px;
  z-index: 1;
  box-shadow: 0px 1px 22px -3px rgba(0,0,0,0.3);

  .item {
    text-align: center;
    padding: 10px;
    line-height: 27px;
    font-size: 0.8em;
  }

  .nav-home {}

  .nav-portfolio {}

  .nav-resume {}

  .nav-blog {}
}

//----------content wrapper----------

.content-wrapper {
  position: absolute;
  background-color: #FFFFFF;
  padding:0px;
  width: 100%;
  height: 1200px;
  top: 50px !important; //navbar height
}
