/* auto compile
Description: Homepage
*/

@import '../colors';

//--------------------------------FOR DESKTOP----------------------------------

.navbar-wrapper-mobile {
  display: none;
}

//----------body----------

body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

//----------navbar----------

/*the only thing needing to be specified for the navbar template are the
  main and accent colors soecified below*/

@import 'template-desktop';

.navbar-wrapper {
  background-color: $Main;

  a {
    text-decoration: none;

    &:hover {
      background-color: $MainDark;

      .item {
        color: $Accent;
      }
    }
  }

  .selected {
    border-bottom: solid 5px $Accent !important; //accent color
    color: $Accent !important; //accent color
  }

  .item {
    color: $textColor; //default color for navigation item text
  }

}

//----------content----------













//----------FOR MOBILE----------

@import '../mobile/home-styles-mobile'; //homepage styles for mobile
