/* auto compile
Description: Projects
*/

@import '../colors';

//--------------------------------FOR DESKTOP----------------------------------

//----------navbar----------

//the only thing needing to be specified for the navbar template are the
//main and accent colors soecified below

@import 'template-desktop';

.banner {
  background-image: url("http://studentweb.cdm.depaul.edu/~tbrew/personal-projects/grid-nav/res/edited/fauzan-nafis-firdaus-155512.jpg");
  background-position: 0px -600px;
  background-size: 125%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-wrapper {
  background-color: $Main;

  a {
    text-decoration: none;

    &:hover {
      background-color: $MainDark;

      .item {
        color: $Accent;
      }
    }
  }

  .selected {
    border-bottom: solid 5px $Accent !important; //accent color
    color: $Accent !important; //accent color
  }

  .item {
    color: $textColor; //default color for navigation item text
  }

}

//----------content----------













//----------FOR MOBILE----------

@import '../mobile/projects-styles-mobile'; //homepage styles for mobile
