
//------------------------------DESKTOP TEMPLATE-------------------------------

body {
  background-color: #EEEEEE;
}

//----------navbar----------

.navbar-wrapper {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: 70px;
  z-index: 1;
  box-shadow: 0px 1px 22px -3px rgba(0,0,0,0.45);

  .item {
    text-align: center;
    padding: 10px;
    line-height: 45px;
  }

  .nav-home {}

  .nav-portfolio {}

  .nav-resume {}

  .nav-blog {}

  .nav-empty {
      grid-column: span 4;
  }
}

//----------content wrapper----------

.content-wrapper {
  position: absolute;
  background-color: #FFFFFF;
  padding: 0px;
  width: 90%;
  height: 1200px; //change once content is actually added
  left: 50%;
  transform: translate(-50%, 0);
  top: 140px;
}
