/*
Developer: Trenton Brew
Date: 10/4/2017
Description: colors for navbar
*/

//----------general----------

$Main: #EEEEEE;
$MainDark: #E0E0E0;
$Accent: #00BCD4;

$textColor: #616161;

//----------home----------

//main
$MaterialBlue: #546E7A; //autumn sky (home)
$MaterialBlueDark: #455A64; //autumn night (home-select)
//accent
$MaterialGreen: #A5D6A7; //mint (portfolio)
$MaterialGreenDark: #66BB6A; //lime (portfolio-select)

//----------portfolio----------

//main
$MaterialRed: #ef5350; //rose (resume)
$MaterialRedDark: #e53935; //strawberry (resume-select)
//accent
$SkyBlue: #0288D1; // summer sky (blog)
$SkyBlueDark: #0277BD; // summer evenings (blog-selected)
$SkyBlueDark2: #01579B;

//----------resume----------

//main

//accent

//----------blog----------

//main

//accent
