/*
Developer: Trenton Brew
Date: 10/4/2017
Description: Portfolio
*/

@import 'colors';
@import 'home-styles-mobile'; //homepage styles for mobile

//--------------------------------FOR DESKTOP----------------------------------

@media only screen and (min-width: 768px) {

  .navbar-wrapper-mobile {
    visibility: hidden;
  }

  //----------body----------

  body {
    margin: 0px;
    font-family: roboto, sans-serif;
  }

  //----------navbar----------

  /*the only thing needing to be specified for the navbar template are the
   main and accent colors soecified below*/

  @import 'navbar';

  .navbar-wrapper {
    background-color:$Main;

    a {
      text-decoration: none;
    }

    .selected {
      border-bottom: solid 5px $Accent; //accent color
      color: $Accent !important; //accent color
    }

    .item {
      color: $textColor; //default color for navigation item text

      &:hover {
        background-color: $MainDark;
        color: $Accent;
      }
    }

  }

  //----------content----------






}
