/*
Developer: Trenton Brew
Date: 10/4/2017
Description: Homepage
*/

@import 'colors';

//--------------------------------FOR DESKTOP----------------------------------

.navbar-wrapper-mobile {
  display: none;
}

//----------body----------

body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

//----------navbar----------

/*the only thing needing to be specified for the navbar template are the
  main and accent colors soecified below*/

@import 'template';

.navbar-wrapper {
  background-color:$Main;

  a {
    text-decoration: none;
  }

  .selected {
    border-bottom: solid 5px $Accent !important; //accent color
    color: $Accent !important; //accent color
  }

  .item {
    color: $textColor; //default color for navigation item text

    &:hover {
      background-color: $MainDark;
      color: $Accent;
      border-bottom: solid 5px $MainDark;
    }
  }

}

//----------content----------













//----------FOR MOBILE----------

@import 'portfolio-styles-mobile'; //homepage styles for mobile
