/*
Developer: Trent Brew
Date: 10/6/17
Description: navbar styles for mobile
*/

//-------------------------------FOR MOBILE------------------------------------

//----------navbar----------

.navbar-wrapper-mobile {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 70px;
  z-index: 1;
  box-shadow: 0px 1px 22px -3px rgba(0,0,0,0.65);

  .item {
    text-align: center;
    padding: 10px;
    line-height: 45px;
  }

  .nav-home {}

  .nav-portfolio {}

  .nav-resume {}

  .nav-blog {}
}

//----------content wrapper----------

.content-wrapper {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  height: 1200px;
  top: 70px; //navbar height
}
